.card-container{
    overflow: hidden;
}
.image-container img{
    overflow: hidden;
    height: 300px;
}
.card-content{
    margin: 1rem;
    margin-top: .5rem;
;
}
h3 p{
    margin: 0px;
    padding: 0px;
    

}
.card-title{
    margin-bottom: .5rem;
}
.btn{
    display: flex;
    justify-content: center;
    
}
.btn button{
    padding: .5rem;
    background-color: white;
    border: none;
    


}
.card-body p{
    font-size: 20px;
    overflow-wrap: normal;
}